<template>
  <v-container>
        <v-layout row wrap align-center>
          <v-flex xs12 md12>
            <v-toolbar>
              <span class="headline">{{ name }}</span>
              <v-spacer></v-spacer>
              <v-btn @click="logout()" flat color="red">Logout</v-btn>
            </v-toolbar>
            <v-toolbar>
              <v-btn @click="sendMailDialog = true" flat color="primary"><v-icon left>create</v-icon>Send Mail</v-btn>
            </v-toolbar>
            <pre> </pre>
          </v-flex>
          <v-dialog v-model="sendMailDialog" max-width="500px">
          <v-card class="elevation-12">            
              <v-toolbar dark color="primary">
              <v-btn icon @click.native="sendMailDialog = false" dark>
                <v-icon>close</v-icon>
              </v-btn>
              <v-toolbar-title>Send Mail</v-toolbar-title>
              <v-spacer></v-spacer>
              <v-tooltip bottom>
                <span>Send Mail</span>
                <v-btn icon @click.native="sendMail()" :disabled="sendMailButtonDisabled" slot="activator">
                <v-icon>send</v-icon>
                </v-btn>
              </v-tooltip>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field prepend-icon="person" label="To" v-model="sendMailTo" type="text"></v-text-field>
                  <v-text-field multi-line prepend-icon="message" label="Message" v-model="sendMailMessage" type="text"></v-text-field>
                  <input type="file" @change="fileAttached($event.target.files[0])"/>
                </v-form>
              <v-alert type="error" v-model='sendMailError'>
                {{ this.sendMailErrorText }}
              </v-alert>
              <v-alert type="success" v-model='sendMailSuccess'>
                Mail Sent Successfully
              </v-alert>
              </v-card-text>
            </v-card>
        </v-dialog>
          <v-flex xs12 md12>
            <v-data-table
              :headers="headers"
              :items="mails"
              :pagination.sync="pagination"
              class="elevation-1"
            >
              <template slot="items" slot-scope="props">
                <td>{{ props.item.from }}</td>
                <td>{{ props.item.message }}</td>
                <td>{{ props.item.date }}</td>
                <td>{{ props.item.filename }}</td>
                <td class="text-xs-right">
                  <v-btn icon class="mx-0" @click.stop='deleteMail(props.item._id)'>
                    <v-icon color="red"> delete </v-icon>
                  </v-btn>
                  <v-btn icon class="mx-0" @click.stop='downloadFile(props.item._id, props.item.filename)'>
                    <v-icon color="primary"> file_download </v-icon>
                  </v-btn>
                </td>
              </template>
            </v-data-table>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import ecc from 'eccjs'

export default {
  name: 'Dashboard',
  data () {
    return {
      title: 'Dashboard',
      name: '',
      pagination: {
        sortBy: 'date'
      },
      sendMailDialog: false,
      sendMailError: false,
      sendMailButtonDisabled: false,
      sendMailErrorText: '',
      sendMailSuccess: false,
      sendMailTo: '',
      sendMailFile: '',
      sendMailMessage: '',
      headers: [
        { text: 'From', value: 'from' },
        { text: 'Message', value: 'message' },
        { text: 'Date', value: 'date' },
        { text: 'Filename', value: 'filename' },
        { text: 'Actions', align: 'right', value: 'actions', sortable: false }

      ],
      mails: []
    }
  },

  /*
  *  Function executed before this page is displayed. Checks if user is logged in.
  */
  beforeCreate: function () {
    if (!this.$auth.isLoggedIn()) {
      this.$router.push('/')
    }
    this.$http.get('/api/getdetails', { bearer: true }).then(
      response => {
        this.name = response.body.name
        this.mails = response.body.receivedFiles
        this.mails.forEach(element => {
          element.date = new Date(element.date).toLocaleString('en-IN')
        })
      },
      err => {
        console.log(err.body)
        this.$auth.logOut()
        this.$router.push('/')
      }
    )
  },
  methods: {

    /*
     *  Function for fetching details of user logged in.
     */
    getdetails: function () {
      this.$http.get('/api/getdetails', { bearer: true }).then(
        response => {
          this.name = response.body.name
          console.log(response.body)
          this.mails = response.body.receivedFiles
          this.mails.forEach(element => {
            element.date = new Date(element.date).toLocaleString('en-IN')
          })
        },
        err => {
          console.log('API Error' + err.body)
        }
      )
    },

    /*
     *  Function executed when logout button is pressed.
     */
    logout: function () {
      this.$auth.logOut()
      this.$router.push('/')
    },

    /*
     *  Function executed when send mail button is pressed.
     */
    sendMail: function () {
      // Checks if file is attached.
      if (!this.sendMailFile) {
        this.sendMailErrorText = 'File not attached'
        this.sendMailError = true
        return
      }

      // Checks if receiver is a valid user.
      this.$http.get('/api/validuser', {bearer: true, params: {username: this.sendMailTo}}).then(
        response => {
          if (response.data === 'false') {
            this.sendMailErrorText = 'Invalid Username'
            this.sendMailError = true
          } else {
            this.sendMailButtonDisabled = true

            var reader = new FileReader()
            reader.onloadend = function () {
              // Alert if Cryptography API is not supported
              let crypto = window.crypto || window.msCrypto
              if (!crypto.subtle) {
                alert('Cryptography API not supported')
                return
              }

              console.log('Plaintext file : ')
              console.log(new Uint8Array(reader.result))

              let aesKeys = null
              let encryptedDataIV = null

              // Generate new random AES Key and IV.
              let vector = crypto.getRandomValues(new Uint8Array(16))

              let promiseKey = crypto.subtle.generateKey({name: 'AES-CBC', length: 256}, true, ['encrypt', 'decrypt'])

              promiseKey.then(function (key) {
                var keyObject = key
                encryptData(keyObject, vector, reader.result)
              })

              promiseKey.catch = function (e) {
                console.log(e.message)
              }

              // Function used to encrypt the file using AES.
              function encryptData (keyObject, vector, data) {
                var encryptPromise = crypto.subtle.encrypt({name: 'AES-CBC', iv: vector}, keyObject, data)

                encryptPromise.then(
                  function (result) {
                    var encryptedData = new Uint8Array(result)
                    encryptedDataIV = {
                      encryptedData: encryptedData,
                      iv: vector
                    }
                    exportKey(keyObject)
                  },
                  function (e) {
                    console.log(e.message)
                  }
                )
              }

              // Function used to export the AES key object to a string.
              function exportKey (keyObject) {
                crypto.subtle.exportKey('jwk', keyObject).then(function (result) {
                  var jsonKey = result
                  aesKeys = JSON.stringify(jsonKey)
                  getPublickey()
                },
                function (e) {
                  console.log(e.message)
                })
              }

              // Function used to fetch a public key from server to encrypt and sent the secret AES key.
              var getPublickey = function () {
                this.$http.get('/api/getpublickey', {bearer: true, params: {to: this.sendMailTo}}).then(
                  response => {
                    let pubKey = response.data.key
                    let id = response.data.id
                    let encryptedAesKeys = ecc.encrypt(pubKey, aesKeys)

                    console.log('Encrypted File : ')
                    console.log(encryptedDataIV.encryptedData)

                    var fd = new FormData()
                    fd.append('to', this.sendMailTo)
                    fd.append('id', id)
                    fd.append('encryptedAesKeys', encryptedAesKeys)
                    fd.append('file', new Blob([encryptedDataIV.iv, encryptedDataIV.encryptedData]), this.sendMailFile.name)
                    fd.append('message', this.sendMailMessage)

                    // Send the encrypted file, message, encrypted AES keys, receiver username, id.
                    this.$http.post('/api/sendmail', fd,
                      { bearer: true }).then(response => {
                        this.sendMailError = false
                        this.sendMailSuccess = true
                        this.sendMailTo = ''
                        this.sendMailFile = null
                        this.sendMailMessage = ''
                        window.setTimeout(function () {
                          this.sendMailSuccess = false
                          this.sendMailDialog = false
                          this.sendMailButtonDisabled = false
                        }.bind(this), 3000)
                      }, err => {
                        console.log('Error : ' + err.body)
                        this.sendMailErrorText = 'Fatal Error'
                        this.sendMailError = true
                      })
                  },
                  err => {
                    console.log('API Error' + err.body)
                  }
                )
              }.bind(this)
            }.bind(this)
            reader.readAsArrayBuffer(this.sendMailFile)
          }
        },
        err => {
          console.log('API Error' + err.body)
        }
      )
    },

    /*
     *  Function executed when a file is attached.
     */
    fileAttached: function (file) {
      this.sendMailFile = file
    },

    /*
     *  Function executed when download button is pressed.
     */
    downloadFile: function (id, filename) {
      let crypto = window.crypto || window.msCrypto
      if (!crypto.subtle) {
        alert('Cryptography API not supported')
        return
      }

      // Get the encrypted file from server.
      this.$http.get('/api/downloadfile', {bearer: true, responseType: 'arraybuffer', params: {'id': id}}).then(
        response => {
          let encryptedFile = new Uint8Array(response.data).slice(16)
          let iv = new Uint8Array(response.data).slice(0, 16)

          console.log('Downloaded Encrypted File : ')
          console.log(encryptedFile)

          // Generating Private Key / Public Key Pair for getting ECC Private Key
          let ecc2Keys = ecc.generate(ecc.ENC_DEC, 384)
          let ecc2PrivKey = ecc2Keys.dec
          let ecc2PubKey = ecc2Keys.enc

          // Get the encrypted private ECC key from server by sending the generated public ECC key.
          this.$http.get('/api/getecckey', {bearer: true, params: {pubkey: ecc2PubKey, 'id': id}}).then(
            response => {
              let encryptedAesKey = response.body.encryptedAesKey
              let encryptedECCKey = response.body.encryptedECCKey
              let eccPrivKey = ecc.decrypt(ecc2PrivKey, encryptedECCKey)
              let decryptedAesKey = ecc.decrypt(eccPrivKey, encryptedAesKey)
              importKey(decryptedAesKey, encryptedFile, iv, filename)
            },
            err => {
              console.log(err.body)
            }
          )

          // Once the AES key is decrypted, AES key object is made by importing the key.
          function importKey (stringKey, encryptedFile, iv, filename) {
            crypto.subtle.importKey('jwk', JSON.parse(stringKey), {name: 'AES-CBC', iv: iv}, true, ['encrypt', 'decrypt']).then(function (result) {
              let keyObject = result
              decryptData(keyObject, encryptedFile, iv, filename)
            }, function (e) {
              console.log(e)
            })
          }

          // Once AES key object is made, the encrypted file can be decrypted.
          function decryptData (keyObject, encryptedFile, iv, filename) {
            var decryptPromise = crypto.subtle.decrypt({name: 'AES-CBC', iv: iv}, keyObject, encryptedFile)
            decryptPromise.then(
              function (result) {
                let decryptedData = new Uint8Array(result)

                console.log('File after Decryption: ')
                console.log(decryptedData)

                let blob = new Blob([decryptedData], {type: response.headers.get('content-type')})
                let link = document.createElement('a')
                document.body.appendChild(link) // required in FF, optional for Chrome
                link.href = window.URL.createObjectURL(blob)
                link.download = filename
                link.target = '_self' // required in FF, optional for Chrome
                link.click()

                /* const fileStream = streamSaver.createWriteStream(fileName)
                const writer = fileStream.getWriter()
                writer.write(decrypted_data)
                writer.close() */
              },
              function (e) {
                console.log(e.message)
              }
            )
          }
        },
        err => {
          console.log('API Error' + err.body)
        }
      )
    },

    /*
     *  Function executed when delete mail button is pressed.
     */
    deleteMail: function (id) {
      this.$http.get('/api/deletemail', {bearer: true, params: {'id': id}}).then(
        response => {
          this.getdetails()
        },
        err => {
          console.log('API Error' + err.body)
        }
      )
    }
  },
  mounted: function () {
    this.pagination.descending = !this.pagination.descending
    var loop = function () {
      this.getdetails()
      window.setTimeout(loop, 5000)
    }.bind(this)
    loop()
  }
}
</script>