<template>
  <v-app>
    <v-navigation-drawer
      v-model="drawer"
      enable-resize-watcher
      fixed
      app
    >
      <v-card>
        <v-card-media :src="require('./assets/desert.jpg')" height="200px">
        </v-card-media>
      </v-card>
      <v-list>
        <v-list-tile
          value="true"
          v-for="item in items"
          v-if="(item.loggedIn == true && $auth.isLoggedIn()) || (!item.loggedIn && !$auth.isLoggedIn()) || (item.title === 'Home')"
          :key=item.title
          @click.stop=item.command
        >
          <v-list-tile-action>
            <v-icon v-html="item.icon"></v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title"></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar
      app
      :scroll-off-screen="!$auth.isLoggedIn()"
      :scroll-threshold="20"
    >
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title v-text="title"></v-toolbar-title>
    </v-toolbar>
    <v-content>
      <router-view/>
    </v-content>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      title: 'CFS',
      drawer: false,
      items: [{
        icon: 'home',
        title: 'Home',
        command: this.homePressed,
        loggedIn: true
      },
      {
        icon: 'lock',
        title: 'Login',
        command: this.loginPressed,
        loggedIn: false
      },
      {
        icon: 'person_add',
        title: 'Signup',
        command: this.signupPressed,
        loggedIn: false
      },
      {
        icon: 'dashboard',
        title: 'Dashboard',
        command: this.dashboardPressed,
        loggedIn: true
      },
      {
        icon: 'exit_to_app',
        title: 'Logout',
        command: this.logoutPressed,
        loggedIn: true
      }]
    }
  },
  methods: {
    loginPressed: function () {
      this.$root.$emit('loginClicked', 'true')
    },
    signupPressed: function () {
      this.$root.$emit('signupClicked', 'true')
    },
    dashboardPressed: function () {
      this.$router.push('/dashboard')
    },
    logoutPressed: function () {
      this.$auth.logOut()
      this.$router.push('/')
    },
    homePressed: function () {
      this.$router.push('/')
    }
  },
  name: 'App'
}
</script>
